html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}



:root {
  --dark: #19182b;
  --red: #ef3b4d;
  --muted: #6d7088;
  --bg: #f7f6f1;
  --card: #fff;
  --shadow: 0 24px 60px rgba(25,24,43,.14);
}
